/* GOOGLE FONTS
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Lora', serif; */

:root {
    --bs-tertiary-bg-rgb: 8, 29,63;
    --bs-emphasis-color-rgb: 120, 194, 219;
    --bs-link-hover-color-rgb: 120, 194, 219;
    --bs-dark-rgb: 60, 94, 68;
    --bs-success-rgb: 182, 232, 142;
    --color-primary-hex: #081D3F;
    --bs-success-bg-subtle: #6B8358;
    --bs-primary-rgb: 8, 29,63;
    
}

/* GENERAL STYLES */

img, object {
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

.btn-outline-light {
    background-color: #081D3F;
    border: #081D3F;
}

.btn-secondary {
    background-color: #6B8358;
    --bs-btn-hover-bg: #B6E88E;
    --bs-btn-hover-color: var(--color-primary-hex);
    border: none;
}

.btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg:var(--color-primary-hex);
        --bs-btn-border-color:var(--color-primary-hex);
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #6B8358;
        --bs-btn-hover-border-color: #6B8358;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #6B8358;
        --bs-btn-active-border-color: #6B8358;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg:var(--color-primary-hex);
        --bs-btn-disabled-border-color:var(--color-primary-hex);
    }

.navbar-toggler {
    background-color: whitesmoke;
}

/* HEADINGS 1 - 2 FONT */

.display-1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: whitesmoke;
}
 .display-2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    color: #081D3F;
}

/* Fonts for paragraphs */

p {
    font-family: 'Lora', serif;
}

/* MISSION,VISION,GOAL ICON STYLE */
.checkmark {
    font-size: 7rem;
}

.text-bg-primary {
        color: #fff!important;
    background-color: var(--color-primary-hex)!important;
}

#about {
    color: #B6E88E;
}


.fit-cover{object-fit:cover}.bs-icon{--bs-icon-size:.75rem;display:flex;flex-shrink:0;justify-content:center;align-items:center;font-size:var(--bs-icon-size);width:calc(var(--bs-icon-size) * 2);height:calc(var(--bs-icon-size) * 2);color:var(--bs-primary)}.bs-icon-xs{--bs-icon-size:1rem;width:calc(var(--bs-icon-size) * 1.5);height:calc(var(--bs-icon-size) * 1.5)}.bs-icon-sm{--bs-icon-size:1rem}.bs-icon-md{--bs-icon-size:1.5rem}.bs-icon-lg{--bs-icon-size:2rem}.bs-icon-xl{--bs-icon-size:2.5rem}.bs-icon.bs-icon-primary{color:var(--bs-white);background:var(--bs-primary)}.bs-icon.bs-icon-primary-light{color:var(--bs-primary);background:rgba(var(--bs-primary-rgb),.2)}.bs-icon.bs-icon-semi-white{color:var(--bs-primary);background:rgba(255,255,255,.5)}.bs-icon.bs-icon-rounded{border-radius:.5rem}.bs-icon.bs-icon-circle{border-radius:50%}